[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.1"
jupyterlab = "==3.6.3"
scikit-learn = "==1.2.2"
yellowbrick = "==1.5"

[dev-packages]

[requires]
python_version = "3.11"
